.section-5__testimonial-element {
    box-sizing: border-box;
    width: 268px;
    height: 391px;
    top: 94px;
    background: #F1F3F2;
    border-radius: 20px;
    display: flex;
    flex-direction: column;


    .section-5__testimonial-element-header {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 1rem;
        line-height: 120%;
        color: #000000;
        margin-bottom: 10px;
        margin-left: 63px;

        span {
            @include smallparagraph-font;
            margin-right: 5px;
        }
    }

    .section-5__testimonial-element-text {
        @include smallparagraph-font;
        margin: 0px 15px 19px 16px;
        overflow: hidden;

    }
}