@mixin h1 {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 6.65rem;
    line-height: 75%;
    text-align: center;
    text-transform: uppercase;
    color: $white;
}

@mixin h2 {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 3rem;
    line-height: 120%;
    color: #333b41;
}

@mixin h3 {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 2.25rem;
    line-height: 130%;
    text-align: center;
    color: #333b41;
}

@mixin header-font {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 140%;
    color: #ffffff;
}

@mixin body-font {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 140%;
    color: #333b41;
}

@mixin subtitle-font {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 120%;
    color: #333b41;
}

@mixin smallparagraph-font {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    font-size: 1rem;
    line-height: 120%;
    color: #000000;
}

@mixin button-font {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 140%;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
}

@mixin columns ($width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    >* {
        flex-basis: $width;
    }
}

@mixin media-small-desktop {
    @media (max-width: $small-desktop-width) {
        @content;
    }
}

@mixin media-tablet {
    @media (max-width: $tablet-width) {
        @content;
    }
}

@mixin media-mobile-large {
    @media (max-width: $mobile-large-width) {
        @content;
    }
}


@mixin media-mobile-small {
    @media (max-width: $mobile-small-width) {
        @content;
    }
}

@mixin gradient-border ($main-background, $border-gradient) {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 20px;
    padding: 2px;
    background: $border-gradient;

    -webkit-mask:

        linear-gradient($main-background 0 0) content-box,
        linear-gradient($main-background 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
}