@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
h1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 106.496px;
  line-height: 75%;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

h2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 120%;
  color: #333b41;
}

h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 130%;
  text-align: center;
  color: #333b41;
}

/* header start */
header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: #000000;
  position: absolute;
  width: 1572px;
  height: 80px;
  left: 28px;
  top: 0px;
}

header div {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #ffffff;
}

.nav__link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #ffffff;
  text-decoration: none;
}

.nav__link:hover {
  color: #f9804b;
}

.header-logo {
  box-sizing: border-box;
  width: 72.49px;
  height: 44.91px;
  left: 4.75px;
  top: 3.55px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 19.0145px;
  line-height: 120%;
  text-align: center;
  color: #ffffff;
  border: 1.18841px solid #ffffff;
  background-image: url("src/bamboo.png");
  background-repeat: no-repeat;
  background-position: 0%;
}

/* header end */
/* section 1 start */
#section-1 {
  background-image: url("src/GiantPanda.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  height: 780px;
  width: 1600px;
  left: 0px;
  right: 0px;
  top: 0px;
}

#h1-box {
  position: absolute;
  width: 500.31px;
  height: 400px;
  left: calc(50% - 250.155px + 330.15px);
  top: 74px;
  z-index: 100;
}

#ellipse-box {
  position: absolute;
  width: 465px;
  height: 465px;
  left: calc(50% - 232.5px + 239.5px);
  top: 92px;
  border-radius: 50%;
  /* orange */
  background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
}

#h1-accented-word {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 106.496px;
  line-height: 75%;
  text-align: center;
  text-transform: uppercase;
  color: #ffee2e;
}

#section-1-main-button {
  position: absolute;
  width: 298px;
  height: 54px;
  left: calc(50% - 149px + 332px);
  top: 626px;
  background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#section-1-main-button-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

/* section 1 end */
/* section 2 start */
#section-2-main {
  position: absolute;
  height: 403px;
  left: 219px;
  right: 220px;
  top: 920px;
  display: flex;
  justify-content: space-evenly;
}

#bamboo-cap {
  width: 609px;
  height: 403px;
  min-width: 609px;
  background-image: url("src/bamboo-cap.png");
  background-size: cover;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
}

#section-2-text {
  padding-left: 87px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#section-2-text p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 120%;
  color: #000000;
}

#section-2-subtitle {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  color: #333b41;
}

#section-2-text h2 {
  margin-top: 0px;
}

#section-2-flower {
  position: absolute;
  width: 293px;
  height: 605px;
  left: 1400px;
  top: 792px;
  background-image: url("src/flower_foto1.png");
  background-repeat: no-repeat;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/* section 2 end */
/* section 3 start */
.section-3 {
  position: absolute;
  width: 1158px;
  height: 872px;
  left: calc(50% - 579px - 1px);
  top: 1503px;
  background: #ffffff;
}

.section-3__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.section-3__image-container {
  margin-top: 20px;
}

.section-3-image-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 0px;
}

.section-3-image-subtitle {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 120%;
  color: #000000;
  margin-top: 0px;
}

.banana-bamboo-icon {
  background-image: url("/src/banana-bamboo_icon.png");
  width: 33px;
  height: 37px;
  margin-left: 321px;
  margin-top: -50px;
}

.meat-fish-icon {
  background-image: url("/src/meat-fish_icon.png");
  width: 48px;
  height: 38px;
  margin-left: 310px;
  margin-top: -50px;
}

#section-3-palm-foto {
  background-image: url("/src/palm_foto.png");
  background-repeat: no-repeat;
  position: absolute;
  width: 880px;
  height: 460px;
  left: -240px;
  top: 646px;
}

#section-3-strelitsia1-foto {
  background-image: url("/src/strelitzia1.png");
  background-repeat: no-repeat;
  position: absolute;
  width: 368px;
  height: 275px;
  left: 1012px;
  top: 831px;
}

#section-3-arrow-left {
  background-image: url("/src/arrow-ellipse-left.svg");
  position: absolute;
  width: 62px;
  height: 62px;
  left: -82px;
  top: 403px;
}

#section-3-arrow-right {
  background-image: url("/src/arrow-ellipse-right.svg");
  position: absolute;
  width: 62px;
  height: 62px;
  top: 403px;
  right: -42px;
}

/* section 3 end*//*# sourceMappingURL=main.css.map */