@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
h1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 106.496px;
  line-height: 75%;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

h2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 120%;
  color: #333b41;
}

h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 130%;
  text-align: center;
  color: #333b41;
}

/* header start */
header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: #000000;
  position: absolute;
  width: 1572px;
  height: 80px;
  left: 28px;
  top: 0px;
}

header div {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #ffffff;
}

.nav__link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #ffffff;
  text-decoration: none;
  margin: 30px;
}

.nav__link:hover {
  color: #f9804b;
}

.header-logo {
  box-sizing: border-box;
  width: 72.49px;
  height: 44.91px;
  left: 4.75px;
  top: 3.55px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 19.0145px;
  line-height: 120%;
  text-align: center;
  color: #ffffff;
  border: 1.18841px solid #ffffff;
  background-image: url("src/bamboo.png");
  background-repeat: no-repeat;
  background-position: 0%;
}

/* header end */
/* section 1 start */
#section-1 {
  background-image: url("src/GiantPanda.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  height: 780px;
  width: 1600px;
  left: 0px;
  right: 0px;
  top: 0px;
}

#h1-box {
  position: absolute;
  width: 500.31px;
  height: 400px;
  left: calc(50% - 250.155px + 330.15px);
  top: 74px;
  z-index: 100;
}

#ellipse-box {
  position: absolute;
  width: 465px;
  height: 465px;
  left: calc(50% - 232.5px + 239.5px);
  top: 92px;
  border-radius: 50%;
  /* orange */
  background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
}

#h1-accented-word {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 106.496px;
  line-height: 75%;
  text-align: center;
  text-transform: uppercase;
  color: #ffee2e;
}

#section-1-main-button {
  position: absolute;
  width: 298px;
  height: 54px;
  left: calc(50% - 149px + 332px);
  top: 626px;
  background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#section-1-main-button-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

/* section 1 end */
/* section 2 start */
#section-2-main {
  position: absolute;
  height: 403px;
  left: 219px;
  right: 220px;
  top: 920px;
  display: flex;
  justify-content: space-evenly;
}

#bamboo-cap {
  width: 609px;
  height: 403px;
  min-width: 609px;
  background-image: url("src/bamboo-cap.png");
  background-size: cover;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
}

#section-2-text {
  padding-left: 87px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#section-2-text p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 120%;
  color: #000000;
}

#section-2-subtitle {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  color: #333b41;
}

#section-2-text h2 {
  margin-top: 0px;
}

#section-2-flower {
  position: absolute;
  width: 293px;
  height: 605px;
  left: 1400px;
  top: 792px;
  background-image: url("src/flower_foto1.png");
  background-repeat: no-repeat;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/* section 2 end */
/* section 3 start */
.section-3 {
  position: absolute;
  width: 1158px;
  height: 872px;
  left: calc(50% - 579px - 1px);
  top: 1503px;
  background: #ffffff;
}

.section-3__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.section-3__image-container {
  margin-top: 20px;
}

.section-3-image-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 0px;
}

.section-3-image-subtitle {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 120%;
  color: #000000;
  margin-top: 0px;
}

.banana-bamboo-icon {
  background-image: url("/src/banana-bamboo_icon.png");
  width: 33px;
  height: 37px;
  margin-left: 321px;
  margin-top: -50px;
}

.meat-fish-icon {
  background-image: url("/src/meat-fish_icon.png");
  width: 48px;
  height: 38px;
  margin-left: 310px;
  margin-top: -50px;
}

#section-3-palm-foto {
  background-image: url("/src/palm_foto.png");
  background-repeat: no-repeat;
  position: absolute;
  width: 880px;
  height: 460px;
  left: -240px;
  top: 646px;
}

#section-3-strelitsia1-foto {
  background-image: url("/src/strelitzia1.png");
  background-repeat: no-repeat;
  position: absolute;
  width: 368px;
  height: 275px;
  left: 1012px;
  top: 831px;
}

#section-3-arrow-left {
  background-image: url("/src/arrow-ellipse-left.svg");
  position: absolute;
  width: 62px;
  height: 62px;
  left: -82px;
  top: 403px;
}

#section-3-arrow-right {
  background-image: url("/src/arrow-ellipse-right.svg");
  position: absolute;
  width: 62px;
  height: 62px;
  top: 403px;
  right: -42px;
}

/* section 3 end*/
/* section 4 start */
.section-4 {
  position: absolute;
  height: 1004px;
  left: 0px;
  right: 0px;
  top: 2609px;
  background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
  opacity: 0.9;
}

.section-4__main {
  position: absolute;
  height: 835px;
  left: 220px;
  right: 220px;
  top: 69px;
  background: rgba(253, 253, 255, 0.52);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  border-radius: 20px;
}

#section-4__title {
  position: absolute;
  width: 463px;
  height: 58px;
  left: calc(50% - 231.5px + 1.5px);
  top: 110px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 120%;
  text-align: center;
  color: #FE9013;
}

#section-4__subtitle {
  position: absolute;
  width: 844px;
  height: 29px;
  left: calc(50% - 422px - 59px);
  top: 198px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  color: #333B41;
}

#section-4__text1 {
  position: absolute;
  width: 1061px;
  height: 21px;
  left: calc(50% - 530.5px + 49.5px);
  top: 267px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  color: #333B41;
}

#section-4__text2 {
  position: absolute;
  width: 863px;
  height: 42px;
  left: calc(50% - 431.5px - 49.5px);
  top: 298px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #333B41;
}

#section-4__h3 {
  position: absolute;
  width: 209px;
  height: 47px;
  left: calc(50% - 104.5px - 0.5px);
  top: 400px;
  color: #333B41;
}

.section-4__all-widgets-wrapper {
  display: flex;
  position: absolute;
  width: 764px;
  height: 244px;
  top: 477px;
  left: 209px;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}

.section-4__widgets-arrow {
  background-image: url("/src/vector.svg");
  width: 69px;
  height: 35px;
  border: 0.5px solid #333B41;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 44px;
}

.section-4__widget-wrapper {
  width: 168px;
  height: 244px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.section-4__widget-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #333B41;
}

#section-4__widget1 {
  background: #FFFFFF;
  background-image: url("/src/pay.svg");
  width: 168px;
  height: 168px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 5px;
}

#section-4__widget2 {
  background: #FFFFFF;
  background-image: url("/src/payment-to-zoo.svg");
  width: 168px;
  height: 168px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  border-radius: 5px;
}

#section-4__widget3 {
  background: #FFFFFF;
  background-image: url("/src/monkey-banana.svg");
  width: 168px;
  height: 168px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  border-radius: 5px;
}

#section-4__button {
  position: absolute;
  width: 298px;
  height: 54px;
  left: calc(50% - 149px);
  top: 781px;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#section-4__button-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

/* section 4 end*/
/* section 5 start */
#section-5 {
  position: absolute;
  height: 575px;
  left: 220px;
  right: 220px;
  top: 3753px;
}

#section-5__testimonials {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.section-5__testimonial-element {
  box-sizing: border-box;
  width: 268px;
  height: 391px;
  top: 94px;
  background: #F1F3F2;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}

.section-5__testimonial-element-header {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: #000000;
  margin-bottom: 10px;
  margin-left: 63px;
}
.section-5__testimonial-element-header span {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 120%;
  color: #000000;
  margin-right: 5px;
}

.section-5__testimonial-element-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 120%;
  color: #000000;
  margin: 0px 15px 19px 16px;
  overflow: hidden;
}

#section-5__leaf-photo {
  background-image: url("src/section-5-leaf.png");
  position: absolute;
  width: 300.92px;
  height: 295.45px;
  left: 1132px;
  top: 502px;
}

.section-5__button {
  position: absolute;
  width: 298px;
  height: 54px;
  left: 0px;
  top: 561px;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-5__button p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.section-5__line-scroll {
  /* slider not implemented, using static image instead */
  background-image: url("/src/section-5-line-scroll.png");
  position: absolute;
  width: 599px;
  height: 8px;
  left: 280px;
  top: 527px;
}

/* section 5 end */
/* footer start */
.footer__wrapper {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  top: 4550px;
  width: 1600px;
  height: 443px;
  background: #111115;
  display: flex;
}

.footer__column {
  flex: 1 1 0px;
  margin-bottom: 50px;
  margin-top: 40px;
}

#footer__column-1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 41px;
  margin-left: 220px;
}

#footer__column-1-logo {
  box-sizing: border-box;
  width: 72.49px;
  height: 44.91px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 19.0145px;
  line-height: 120%;
  text-align: center;
  color: #ffffff;
  border: 1.18841px solid #ffffff;
  background-image: url("src/bamboo.png");
  background-repeat: no-repeat;
  background-position: 0%;
}

#footer__column-1-button {
  width: 298px;
  height: 54px;
  /* orange */
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  border-radius: 5px;
}

#footer__column-1-button-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
}

#footer__column-1-socialmedia {
  display: flex;
  flex-direction: column;
}

.footer__column-1-socialmedia-link {
  width: 111px;
  height: 26px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  /* or 22px */
  color: #FFFFFF;
  margin-left: 0px;
}
.footer__column-1-socialmedia-link img {
  background: no-repeat;
  background-size: auto;
  background-position: center;
}
.footer__column-1-socialmedia-link span {
  margin-left: 10px;
  text-align: center;
}

#footer__facebook {
  background-image: url("/src/facebook.svg");
}

#footer__twitter {
  background-image: url("/src/twitter.svg");
}

#footer__instagram {
  background-image: url("/src/instagram.svg");
}

#footer_youtube {
  background-image: url("/src/youtube.svg");
}

#footer__column-2 {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

#footer__column-2-links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
}

#footer__column-3 {
  display: flex;
}

#footer__column-3-header {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  color: #333b41;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.footer__designed-by {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 100;
  font-size: 16px;
  line-height: 130%;
  /* identical to box height, or 21px */
  color: #FFFFFF;
}

#footer__textarea-submit {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#footer__designed-by-wrapper {
  margin-top: 210px;
  margin-left: 50px;
  margin-bottom: 50px;
}

#footer__subscribe-email-button {
  background: #F1F3F2;
  border: 1px solid #4B9200;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#footer__subscribe-email-button span {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #4B9200;
}

#footer__column-3-textarea {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #BDBDBD;
  background: transparent;
  resize: none;
  border-color: #f9804b;
  text-align: left;
}/*# sourceMappingURL=main.css.map */