/* donate.html start */

#panda-background {
    position: absolute;
    height: 390px;
    width: 1600px;
    left: 0px;
    right: 0px;
    top: 76px;

    background: url("/assets/images/panda_bg_donate.png");
    background-repeat: none;
    background-size: cover;
}

#donate__main {
    height: 1482px;
    width: 1600px;
    position: absolute;
    top: 466px;
    background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    h3 {
        color: #FFFFFF;
    }

    p {
        color: #FFFFFF;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 140%;
    }

    span {
        @include h3;
        color: #FE9013;
    }

}
