/* section 3 start */
.section-3 {
    background: $white;
}

.part-1-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.part-2-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex: 1 1 0px;

}

.section-3__images-wrapper {
    display: flex;
    flex-wrap: wrap;

    //grid-template-columns: 1fr 1fr 1fr;
    //grid-template-rows: 1fr 1fr;

}

.section-3__image-container {
    display: flex;
    flex-direction: column;
    padding: 20px;

    img {
        display: inline-block;

    }

    img:hover {
        transform: scale(1.03);
    }

}

.section-3-image-title {
    @include button-font;
    color: #000000;
    margin-bottom: 0px;
}

.section-3-image-subtitle {
    @include smallparagraph-font;
    margin-top: 0px;
}

.banana-bamboo-icon {

    background-image: url("/assets/images/banana-bamboo_icon.png");
    width: 33px;
    height: 37px;
    //margin-left: 321px;
    margin-top: -50px;
    align-self: flex-end;
    justify-self: flex-start;
}

.meat-fish-icon {
    background-image: url("/assets/images/meat-fish_icon.png");
    width: 48px;
    height: 38px;
    //margin-left: 310px;
    margin-top: -50px;
    align-self: flex-end;
}

#section-3-palm-foto {
    background-image: url("/assets/images/palm_foto.png");
    background-repeat: no-repeat;
    width: 292px;
    height: 460px;
}

#section-3-strelitsia1-foto {
    background-image: url("/assets/images/strelitzia1.png");
    background-repeat: no-repeat;
    width: 368px;
    height: 275px;
}

.section-3-arrow-left {
    background-image: url("/assets/images/arrow-ellipse-left.svg");
    width: 62px;
    height: 62px;
    display: inline-block;
    border: none;
    border-radius: 50%;

}

.section-3-arrow-left:hover {
    transform: scale(1.1)
}

.section-3-arrow-right {
    background-image: url("/assets/images/arrow-ellipse-right.svg");
    width: 62px;
    height: 62px;
    display: inline-block;
    border: none;
    border-radius: 50%;
}

.section-3-arrow-right:hover {
    transform: scale(1.1)
}

.section-3-button {
    align-self: flex-start;
    margin-top: 20px;
}

/* section 3 end*/