/* section 1 start */

.section-1__main {
    background-image: url("/assets/images/GiantPanda.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.section-1__content-box {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: 50%;
}



.h1-box {
    width: 29rem;
    height: 29rem;
    border-radius: 50%;
    background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);

    H1 {
        padding-left: 25%;
    }
}



#h1-accented-word {
    color: $yellow;
}

.section-1-main-button {
    margin-left: 120px;
    margin-top: 2rem;
}

/* section 1 end */