/* section 5 start */

.section-5 {
    max-width: $content-width;
    margin: auto;
}

.section-5__part-1-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.section-5__part-2-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.section-5__testimonials {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


#section-5__leaf-photo {
    background-image: url("/assets/images/section-5-leaf.png");
    width: 300.92px;
    height: 295.45px;
    margin-right: -52px;
}

.section-5__button {
    margin-left: 10rem;

}



.section-5__line-scroll {
    /* slider not implemented, using static image instead */
    background-image: url("/assets/images/section-5-line-scroll.png");
    //position: absolute;
    width: 599px;
    height: 8px;
    margin-top: 20px;
}

.section-5__line-scroll:hover {
    transform: scale(1.1)
}

.section-5__testimonial-element {
    margin: 20px;
}

.section-5__testimonial-element {
    box-sizing: border-box;
    width: 268px;
    height: 391px;
    top: 94px;
    background: #F1F3F2;
    border-radius: 20px;
    display: flex;
    flex-direction: column;


    .section-5__testimonial-element-header {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 1rem;
        line-height: 120%;
        color: #000000;
        margin-bottom: 10px;
        margin-left: 63px;

        span {
            @include smallparagraph-font;
            margin-right: 5px;
        }
    }

    .section-5__testimonial-element-text {
        @include smallparagraph-font;
        margin: 0px 15px 19px 16px;
        overflow: hidden;

    }
}

/* section 5 end */