/* section 5 start */

.section-5 {
    max-width: $content-width;
    margin: auto;
}

.section-5__part-1-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.section-5__part-2-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

// .section-5__testimonials {
//     display: flex;
//     flex-direction: row;
//     justify-content: space-between;
//     align-items: stretch;
// }


#section-5__leaf-photo {
    background-image: url("/assets/images/section-5-leaf.png");
    width: 300.92px;
    height: 295.45px;
    margin-right: -52px;
}

.section-5__button {
    margin-left: 10rem;

}







.section-5__testimonial-element {

    margin: 20px;
    overflow: hidden;


    &::before {
        @include gradient-border ($gray-light, $testimonial-border);
    }

    //width: 268px;
    //height: 391px;
    background: #F1F3F2;
    border-radius: 20px;
    display: flex;
    flex-direction: column;


    .section-5__testimonial-element-header {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 1rem;
        line-height: 120%;
        color: #000000;
        margin-bottom: 10px;
        margin-left: 63px;

        span {
            @include smallparagraph-font;
            margin-right: 5px;
        }
    }

    .section-5__testimonial-element-text {
        @include smallparagraph-font;
        margin: 0px 15px 19px 16px;
        overflow: hidden;

    }
}


.swiper-testimonials {
    position: relative;
    width: 1160px;
    height: 575px;
    flex-shrink: 0;
    // display: flex;
    // flex-direction: row;
    // justify-content: space-between;
    // align-items: stretch;

    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;





}

.swiper-button-prev,
.swiper-button-next {}

.swiper-scrollbar {
    margin-top: 20px;
    width: 599px;
    height: 10px;
}

.swiper-scrollbar .swiper-scrollbar-drag {
    background-color: $brand-main;
    cursor: pointer;

    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

.section-5 .swiper-slide {
    width: 268px;
    height: auto;
}


/* section 5 end */