// Tablet

@media screen and (max-width: $tablet-width) {
    .header {
        max-width: $tablet-width;

    }

    .logo {
        margin-left: 1rem;
    }


    .h1-box {
        height: 15rem;
        width: 15rem;
    }

    h1 {
        font-size: 3rem;
    }

    .button-large {
        width: 149px;
        height: 27px;

        span {
            font-size: 0.5rem;
        }
    }

    .section-2 {
        flex-direction: column;
        margin-top: 10px;
    }

    .section-2__flower {
        display: none;
    }

    .section-2__subtitle {
        font-size: 1rem;
    }

    h2 {
        font-size: 1.2rem;
    }

    // Burger menu
    // hide the checkbox
    #menu__toggle {
        opacity: 0;
    }

    // styling the button
    .menu__btn {
        display: flex;
        //flex
        align-items: center;
        position: fixed;
        top: 20px;
        left: 20px;
        width: 26px;
        height: 26px;
        cursor: pointer;
        z-index: 1;
    }

    // adding the burger menu
    .menu__btn>span,
    .menu__btn>span::before,
    .menu__btn>span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: $white;
    }

    .menu__btn>span::before {
        content: '';
        top: -8px;
    }

    .menu__btn>span::after {
        content: '';
        top: 8px;
    }

    // container menu
    .menu__box {
        display: block;
        position: fixed;
        visibility: hidden;
        top: 0;
        left: -100%;
        width: 300px;
        height: 100%;
        margin: 0;
        padding: 80px 0;
        list-style: none;
        text-align: center;
        background-color: #ECEFF1;
        box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
    }

    // menu's elements
    .menu__item {
        display: block;
        padding: 12px 24px;
        color: $black-header;
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        font-weight: 600;
        text-decoration: none;
    }

    .menu__item:hover {
        background-color: #CFD8DC;
    }

    #menu__toggle:checked~.menu__btn>span {
        transform: rotate(45deg);
    }

    #menu__toggle:checked~.menu__btn>span::before {
        top: 0;
        transform: rotate(0);
    }

    #menu__toggle:checked~.menu__btn>span::after {
        top: 0;
        transform: rotate(90deg);
    }

    #menu__toggle:checked~.menu__box {
        visibility: visible;
        left: 0;
    }

    .logo {
        margin-left: 80%;
    }


    .mobile-hide {
        display: none;
    }


}